<%- include('partials/header.ejs') -%>

<header>
    <nav class="navbar navbar-expand-sm container">
        <a class="navbar-brand" href="/">AUTO-MAILER</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">i.fa.fa-bars</span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT US</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/compose">SEND AN EMAIL</a>
                </li>
        </div>
    </nav>
  </header>

<%- include('partials/footer.ejs') -%>