<%- include('partials/header.ejs') -%>
    <form action="/login" method="post">
       <div class="form-group">
         <label for=""></label>
         <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
         <small id="helpId" class="form-text text-muted">Help text</small>
       </div>
    </form>
<%- include('partials/footer.ejs') -%>